{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if header.title %}
					{{ header.title|e('html') }}
					|
				{% endif %}
				{{ site.title|e('html') }}</title>

			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			{% include 'partials/metadata.html.twig' %}

			<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}"/>
			<link rel="canonical" href="{{ page.url(true, true) }}"/>
		{% endblock head %}

		{% block stylesheets %}
			{% do assets.addCss('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css', 98) %}
			{% do assets.addCss('theme://css/style.css', 98) %}
			{% do assets.addCss('theme://css/markdown.css', 98) %}
			{% do assets.addCss('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap', 97) %}
		{% endblock %}

		{% block javascripts %}
			{% do assets.addJs('https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js', 100) %}
		{% endblock %}

		{% block assets deferred %}
			{{ assets.css()|raw }}
			{{ assets.js()|raw }}
		{% endblock %}
	</head>

	<body id="top" class="{{ page.header.body_classes }} bg-light text-dark">
		{% block header %}
			<div class="header">
				<div>
					{% block header_navigation %}
						<nav class="nav header">
							{% include 'partials/navigation.html.twig' %}
						</nav>
					{% endblock %}
				</div>
			</div>
		{% endblock %}

		{% block body %}
			<main id="page">
				<div>
					{% block content %}{% endblock %}
				</div>
			</main>
		{% endblock %}
		<hr/>

		<style>
			.footer {
				display: flex;
			}

			.footer-col {
				flex: 1;
				text-align: center;
			}
		</style>

		<div class="footer">
			<div class="footer-col">
				<b>Student documents and links</b><br/>
				<a href="https://ion.tjhsst.edu/">Ion</a><br/>
				<a href="https://ion.tjhsst.edu/uploads/advocacy.pdf">
					Student Advocacy Guidelines
				</a><br/>
				<a href="https://www.tjtoday.org/">
					TJToday
				</a><br/>
				<a href="http://youtube.com/tjtoday">
					TJTV News
				</a><br/>
				<a href="https://tjhsst.fcps.edu/student-services/college-and-career-center/">
					College and Career Center
				</a><br/>
			</div>

			<div class="footer-col">
				<b>School resources</b><br/>

				<a href="https://www.fcps.edu/sites/default/files/media/forms/SRR1718.pdf">
					FCPS Student Rights & Responsibilities
				</a><br/>

				<a href="https://pre-fcps.tjhsst.edu/">
					Student-Run TJHSST Website
				</a><br/>

				<a href="https://tjhsst.fcps.edu/sites/default/files/media/inline-files/TJProfile1819.pdf">
					TJHSST School Profile
				</a><br/>

				<a href="https://www.tjptsa.org/">
					TJ PTSA
				</a><br/>

				<a href="https://www.tjpartnershipfund.org/">
					TJ Partnership Fund
				</a><br/>

				<a href="https://integrity.tjhsst.edu/">
					Academic Integrity
				</a><br/>

				<a href="https://tjhsst.fcps.edu/staff-directory/">
					Staff Directory
				</a><br/>
			</div>

			<div class="footer-col">
				<b>Student documents and links</b>
			</div>
		</div>
	</body>
</html>
