{% for page in pages %}
	<div class="flex flex-wrap mb-4">
		{# Each news article is a row #}
		{# Left side #}
		<div class="md:w-1/3 w-full md:text-right pr-4">
			{# Title #}
			<h3 class="text-2xl font-bold text-primary mb-2">
				{% if page.url %}
					<a href="{{ page.url }}">{{ page.title }}</a>
				{% else %}
					{{ page.title }}
				{% endif %}
			</h3>
			<img src="{{ page.media[page.header.header_image].url|e }}">
		</div>

		{# Right side #}
		<div class="md:w-2/3 w-full text-lg leading-8 pl-4">
			{# Summary #}
			{{ page.header.summary }}
		</div>
	</div>
{% endfor %}
