{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1 class="text-center text-4xl font-bold">
		{{ page.title }}
	</h1>
	<section class="container mx-auto md:w-2/3 markdown-body text-lg leading-7">
		{{ page.content }}
	</section>
	{% if page.header.header_image is defined %}
		{% set hero_image = page.media[page.header.header_image] %}
		<div class="hero relative">
			<div class="absolute top-0 left-0 h-full w-full flex items-center justify-center">
				<h1 class="text-white font-bold uppercase tracking-wide">{{page.title}}</h1>
			</div>
			{{ hero_image.sizes('100vw').html()|raw }}
		</div>
	{% endif %}
	{# All templates support modules by default #}
	{% if page.header.content.items == '@self.modular' %}
		{% for module in page.collection %}
			{{ module.content|raw }}
		{% endfor %}
	{% else %}
		{% for article in page.collection %}
			<div>
				<a href="{{article.url}}" class="text-xl">
					<h2>{{ article.title|raw }}</h2>
				</a>
				<p>{{ article.summary|raw }}</p>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
