{% extends 'partials/base.html.twig' %}

{% block content %}
	{% if page.header.header_image is defined %}
		{% set hero_image = page.media[page.header.header_image] %}
		{% include 'partials/hero.html.twig' with {
			hero_image: hero_image
		} %}
	{% endif %}
	<section class="container mx-auto px-8 py-4">
		{% for feature in page.header.items %}
			<div class="flex flex-wrap my-8">
				<div class="md:w-1/3 w-full md:text-right md:pr-8 md:mb-0 mb-6">
					{% if feature.image %}
						{{ page.media[feature.image].w('300px').html()|raw }}
					{% endif %}
				</div>
				{% if feature.text %}
					<div class="md:w-2/3 w-full">
						{% if feature.title %}
							<h2 class="text-2xl font-bold text-primary md:mr-8 mb-4">
								{% if feature.url %}
									<a href="{{ feature.url }}">{{ feature.title }}</a>
								{% else %}
									{{ feature.title }}
								{% endif %}
							</h2>
						{% endif %}
						{% if feature.subtitle %}
							<h3 class="text-xl font-bold text-secondary md:mr-8 mb-4">
								{{ feature.subtitle }}
							</h3>
						{% endif %}
						<div class="text-lg leading-7 markdown">
							{{ feature.text|markdown }}
						</div>
					</div>
				{% endif %}
			</div>
			{% if not loop.last %}
				<hr class="my-4" />
			{% endif %}
		{% endfor %}
	</section>
{% endblock %}
